@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@layer components {
  blockquote {
    @apply !not-italic;
  }
  blockquote h3 + p {
    @apply !m-0;
  }
  blockquote p {
    @apply text-lg text-white;
  }
  blockquote p + p {
    @apply !mt-2;
  }
  .button {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-full bg-slate-800/10 px-4 py-2 font-medium  dark:bg-white/10;
  }
}
